@import url('https://fonts.googleapis.com/css?family=Inter:700|DM%20Sans:400');

body {
    background-color: #181a1b;
    color: #c9c9c9;
    font-family: 'DM Sans';
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Inter';
    font-weight: 700;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: #181a1b;
}